@{
  Layout = "_Layout";
}
<h1>Flight Information</h1>
<h2>Departure: @Model.GetDep() | Arrival: @Model.GetArr()</h1>
<h2>@Model.GetStatus()</h2>

<form action="/cities/@Model.GetId()/update" method="post">
  <label for="new-status">Current Status</label>
  <select name="status-select">
    <option value="On Time">On Time</option>
    <option value="Delayed">Delayed</option>
    <option value="Cancelled">Cancelled</option>
    <option value="Complete">Complete</option>
    <option value="Mothra">Delayed Due To Mothra</option>
  </select>
  <button type="submit" name="button">Update Status</button>
</form>
<br>
<a href="/"> Back Home </a>
