
@{
  Layout = "_Layout";
}
<h1>Add City</h1>
<form method="post" action="/cities">
  <div class="form-group">
    <label for="city-name1">Departing From:</label>
    <input type="text" name="city-name1" class="form-control">
    <label for="city-name2">Arriving At:</label>
    <input type="text" name="city-name2" class="form-control">
    <button type="submit" class="btn btn-primary">Add Flight Path</button>
  </div>
</form>
<a href="/">Return Home</a>
